.go_to_index_wrapper {
    position: sticky;
    top: 0px;
    z-index: 120;
}

.go_to_index {
    width: 30px;
    height: 30px;
    background: rgb(194, 106, 106);
    border-radius: .25rem;
    position: absolute;
    right: 10px;
    top: 10px
}

.on {
    opacity: 1;
}

.off {
    opacity: 0;
}