.go_to_index_wrapper {
    position: sticky;
    top: 0px;
    z-index: 120;

}

.go_to_index {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.856);
    border-radius: .25rem;
    position: absolute;
    right: 18px;
    top: 18px;
    overflow: hidden;

}



.on {
    opacity: 1;
}

.off {
    opacity: 0;
}

.go_home {
    position: absolute;
    left: 60px;
    top: 40px;
    width: 105%;
    height: 105%;
    transition: all 0.6s;
    background: url('../../db/assets/gohome.png');
    background-size: cover;
    border-radius: .25rem;

}

.go_to_index:hover .go_home {
    top: 0;
    left: 0;
    transform: skewY(180deg);
}